@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Sarala:wght@400;700&display=swap');

*{ /* com esses comandos, eu reseto as configurações padrões do meu css */
    margin: 0;
    box-sizing: border-box;
    padding: 0;  
    text-decoration: none;    
    font-family: "sarala", system-ui;
    
}
body{
    background-color: #3d3d3d;
}
.cabecalho{
    background-color: #474747; /* Cor de fundo do cabeçalho */
    padding: 20px; /* Espaçamento interno */
    border-radius: 15px; /* Cantos arredondados */
    margin: 20px; /* Espaçamento externo */  
    box-shadow: 4px 5px 4px 0px #00000040;
}

.cabecalho_menu{     
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    flex-direction: row; 
      
}
.cabecalho_menu_item{    
    color: white; 
    font-weight: 600;
    font-size: 23px;
    text-decoration:none
}
.cabecalho_menu_item:hover{color: rgb(79,79,224);
transition: 0.2s;
font-size: 24px;
}

.principal{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 50px;   
    gap: 100px;
    border-bottom: 2px solid rgb(79,79,224);
    color: white;
}
.conteudo_principal{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.titulo_principal{
    color:rgb(79,79,224);
    font-size: 50px;
    font-family: "Nerko One", cursive;
    text-shadow: 0.1em 0.1em 0.2em #333;
}
.minhafoto{
    float: right;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid rgb(19, 70, 209);
}
.logogit{    
    margin-top: 30px;
    text-align: center;
    width: 400px;
    height:auto;
}

.principal_contato{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 50px;
    border-bottom: 2px solid rgb(79,79,224);
}
fieldset{
    border: 0;
}
input,textarea,button{
border-radius: 5px;
}
.campo{
    margin-bottom: 1em;
}
.campo label{
    margin-bottom: 0.2em;    
    display: solid;
    color: white;
}
fieldset.grupo .campo{
    float: left;
    margin-right: 1em;
}
.campo input[type="text"], .campo input[type="email"], .campo textarea{
    padding: 0.2em;
    border:0;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;    
}
.campo input:focus, .campo textarea:focus{
    background: #494949;
  
}
.botao{
    color: #333;
    font-size: 1.2em;
    background: rgb(79,79,224);
    border:0;
    margin-bottom: 1em;  
    padding:0.2em 0.6em ;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    position: absolute;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.botao:hover{
    background: #ccbbff;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}